<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.gdgvit.leaveapp" >

    <application
        android:name=".LeaveAppClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.developer.gdgvit.leaveapp.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".dataHandlers.Apply_Leave_Service"></service>

        <activity
            android:name="com.developer.gdgvit.leaveapp.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.developer.gdgvit.leaveapp.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.developer.gdgvit.leaveapp.Home" />
        </activity>

        <!-- SyncAdapters Dummy Authenticator Service -->
        <service
            android:name=".syncAdaptors.LeaveAppAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- SyncAdapter Stub Content Provider -->
        <provider
            android:name=".dataHandlers.LeaveContentProvider"
            android:authorities="com.developer.gdgvit.leaveapp.app"
            android:exported="false"
            android:syncable="true"/>

        <!-- SyncAdapters Service -->
        <service
            android:name=".syncAdaptors.LeaveAppSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadaptor" />
        </service>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permissions for SyncAdapter to work -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

</manifest>
